<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <typeAliases>
      
      <!--Negocio-->
      <typeAlias alias="IFacadeServico" type="Negocio.IFacadeServico, Negocio" />
      <typeAlias alias="FacadeServico" type="Negocio.FacadeServico, Negocio" />
      <typeAlias alias="IInterpolador" type="Negocio.IInterpolador, Negocio" />
      <typeAlias alias="Interpolador" type="Negocio.Interpolador, Negocio" />

      <!--Aspectos Negocio-->
      <typeAlias alias="AspectoSeguranca" type="Negocio.Aspectos.Seguranca, Negocio" />
      <typeAlias alias="AspectoLogger" type="Negocio.Aspectos.Logger, Negocio" />
      <typeAlias alias="AspectoFiltro" type="Negocio.Aspectos.FiltroRequisicoes, Negocio" />
      
      <!--Arquitetura-->
      <typeAlias alias="Contador" type="ServicoBase.Monitoracao.Contador, ServicoBase.Monitoracao" />
      <typeAlias alias="IContador" type="ServicoBase.Monitoracao.IContador, ServicoBase.Monitoracao" />
      <typeAlias alias="AspectoMonitoracaoNegocio" type="ServicoBase.Monitoracao.MonitoracaoAspecto, ServicoBase.Monitoracao" />
      <typeAlias alias="AspectoMonitoracaoInfra" type="ServicoBase.Monitoracao.MonitoracaoProcessamentoAspecto, ServicoBase.Monitoracao" />
      
    </typeAliases>
    <containers>
      <container name="baixo">
        <register type="IContador" mapTo="Contador" />
        <register type="IFacadeServico" mapTo="FacadeServico">
          <interceptor type="VirtualMethodInterceptor" />
          <interceptionBehavior type="AspectoMonitoracaoNegocio" />
          <interceptionBehavior type="AspectoMonitoracaoInfra" />
          <interceptionBehavior type="AspectoLogger" />
          <interceptionBehavior type="AspectoSeguranca" />
        </register>
        <register type="IInterpolador" mapTo="Interpolador">
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="AspectoLogger" />
        </register>
        <extension type="Interception" />
      </container>
      <container name="baixoLegado">
        <register type="IContador" mapTo="Contador" />
        <register type="IFacadeServico" mapTo="FacadeServico">
          <interceptor type="VirtualMethodInterceptor" />
          <interceptionBehavior type="AspectoLogger" />
          <interceptionBehavior type="AspectoSeguranca" />
        </register>
        <register type="IInterpolador" mapTo="Interpolador">
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="AspectoLogger" />
        </register>
        <extension type="Interception" />
      </container>
      <container name="alto">
        <register type="IContador" mapTo="Contador" />
        <register type="IFacadeServico" mapTo="FacadeServico">
          <interceptor type="VirtualMethodInterceptor" />
          <interceptionBehavior type="AspectoMonitoracaoNegocio" />
          <interceptionBehavior type="AspectoMonitoracaoInfra" />
          <interceptionBehavior type="AspectoFiltro" />
        </register>
        <register type="IInterpolador" mapTo="Interpolador" />
        <extension type="Interception" />
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="ServicoAtuador.svc" service="ServicoBase.Atuador" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="Negocio.FacadeServico" behaviorConfiguration="behaviorServico">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FacadeServico" contract="Negocio.IFacadeServico" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorServico">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicoConsultarPreco" />
        <binding name="BasicHttpBinding_IServicoControleAcesso" />
        <binding name="BasicHttpBinding_IServicoCalendario" />
        <binding name="BasicHttpBinding_FacadeServico" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" >
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2662/ServicoBloombergPreco.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoConsultarPreco"
          contract="ServicoBloomberg.IServicoConsultarPreco" name="BasicHttpBinding_IServicoConsultarPreco" />
      <endpoint address="http://localhost:2661/ServicoReutersPreco.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoConsultarPreco"
          contract="ServicoReuters.IServicoConsultarPreco" name="BasicHttpBinding_IServicoConsultarPreco" />
      <endpoint address="http://localhost:2658/ServicoControleAcesso.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoControleAcesso"
          contract="ServicoSeguranca.IServicoControleAcesso" name="BasicHttpBinding_IServicoControleAcesso" />
      <endpoint address="http://localhost:2660/ServicoCalendario.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoCalendario"
          contract="ServicoCalendario.IServicoCalendario" name="BasicHttpBinding_IServicoCalendario" />
    </client>
  </system.serviceModel>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" formatter="Text Formatter" rollInterval="Hour" timeStampPattern="dd/MM/yyyy" maxArchivedFiles="5" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" fileName="Logs\rolling.log" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" enabled="true" name="Logging Enabled Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="containerDefault" value="alto" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>