<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Decisao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="queueName" value=".\private$\decisao" />
    <add key="bancoRaven" value="http://localhost:8081/Databases/Experimento" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Decisao.ServicoDecisao.AnalisarDados" behaviorConfiguration="DecisaoServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Decisao" />
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://localhost/private/decisao" binding="netMsmqBinding" bindingConfiguration="MSMQConfig" contract="Decisao.ServicoDecisao.IAnalisarDados" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DecisaoServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="MSMQConfig" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Decisao.Properties.Settings>
      <setting name="Decisao_Atuador_Atuador" serializeAs="String">
        <value>http://localhost:1217/ServicoAtuador.svc</value>
      </setting>
    </Decisao.Properties.Settings>
  </applicationSettings>
</configuration>