<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="xamlx-Integrated" path="*.xamlx" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="403.18" />
                </add>
            </traceFailedRequests>
        </tracing>
        <directoryBrowse enabled="true" />
        <httpRedirect enabled="false" destination="http://localhost:1217" />
    </system.webServer>
    <system.web>
        <compilation defaultLanguage="c#" />
        <identity impersonate="false" />
        <profile enabled="false" />
        <trust level="High" />
        <sessionState mode="Off" />
    </system.web>
</configuration>
